.navbar {
  background-color: #121212;
  color: #ffcc00;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffcc00;
}

.navbar {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.logo img,
.logo-img {
  display: block;
  height: 80px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}
